:root {
  --fcx-space-xxxs: 0.25em;
  --fcx-space-xxs: 0.375em;
  --fcx-space-xs: 0.5em;
  --fcx-space-sm: 0.75em;
  --fcx-space-md: 1.25em;
  --fcx-space-lg: 2em;
  --fcx-space-xl: 3.25em;
  --fcx-space-xxl: 5.25em;
  --fcx-space-xxxl: 8.5em; }
